main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: solid 5px black; */
}


.tela_inicial{

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 50rem;
    /* border: solid 5px black; */
    background-color: #A9A9A9	;
    opacity: 0.8;
}

.texto{
    width: 49.99rem;
    margin-bottom: 27.4rem;
    font-weight: 500;
    border: solid 1px #C0C0C0	;
    box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.5);
}


.texto-info{
    margin-left: 1rem;
    
    
}