<body>

  <header>
    <div class="titulo">
      <p class="titulo-texto">Dashboard FORD</p>
    </div>
  </header>

<main>
  <!-- <section class="container-geral"> -->
    <div class="elementos-meio">
  
    <button class="btn btn-primary position-fixed top-0 start-0 m-3" type="button" data-bs-toggle="offcanvas" 
    data-bs-target="#menuLateral" aria-controls="menuLateral">
    <i class="bi bi-list"></i>
    </button>

      <!-- Menu Lateral Offcanvas -->
     <div class="offcanvas offcanvas-start" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
    
    <div class="offcanvas-header ">
        <img src="ford.png" alt="ford" class="logo-menu">
      <h5 class="offcanvas-title" id="menuLateralLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="/home" class="text-decoration-none">🏠 Home</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/dashboard" class="text-decoration-none">📊 Dashboard</a>
        </li>
      </ul>
    </div>

    </div>

    <button class="btn btn-danger position-fixed top-0 end-0 m-3" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Sair
         </button>

  <!-- Linha combinada com seletor e cards -->
<div class="linha-dashboard d-flex flex-wrap justify-content-center align-items-start gap-4 mb-4">

  <!-- Seletor de veículo -->
  <div class="select-veiculo">
    <label for="veiculoSelect" class="form-label fw-bold">Veículo</label>
    <select id="veiculoSelect" class="form-select"
            [(ngModel)]="veiculoSelecionado"
            (change)="atualizarDashboard()">
      <option *ngFor="let v of veiculos" [ngValue]="v">{{ v.vehicle }}</option>
    </select>
  </div>

  <!-- Cards de indicadores -->
  <div *ngFor="let card of cards" class="card-dashboard border rounded p-3 text-center">
    <h5>{{ card.titulo }}</h5>
    <h4 class="text-primary">{{ card.valor }}</h4>
    <small>Unid.</small>
  </div>

</div>


  <!-- Imagem do carro -->
  <div class="mb-4">
    <img [src]="veiculoSelecionado?.img" alt="Imagem do carro selecionado"
         class="img-fluid" style="max-height: 300px;">
  </div>

<!-- </section busca por vin> -->

</div>
</main>

<!-- ---------------------------------------------------------------------------- -->
<footer>
  <div class="elementos-footer">

  <!-- Tabela com dados técnicos -->
  <div class="container mt-4 text-center">
    <label for="vinInput" class="form-label fw-bold">Digite o código VIN</label>
    <input type="text"
           id="vinInput"
           [(ngModel)]="vinDigitado"
           (keyup.enter)="buscarDadosPorVin()"
           placeholder="Ex: 2FRHDUYS2Y63NHD22455"
           class="form-control w-50 mx-auto mb-3"/>
  
    <button class="btn btn-primary mb-4" (click)="buscarDadosPorVin()">Buscar</button>
 <!-- ------------------------------------------------------------------------------- -->
  <!-- Tabela com dados do veículo -->
    <div class="minha-table">
    <table class="table table-bordered table-striped tabela-conteudo" *ngIf="dados">
      <thead class="table-primary">
        <tr>
          <th>Odômetro</th>
          <th>Nível de Combustível</th>
          <th>Status</th>
          <th>Lat.</th>
          <th>Long.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ dados.odometro }} Km</td>
          <td>{{ dados.nivelCombustivel }} %</td>
          <td>{{ dados.status }}</td>
          <td>{{ dados.lat }}</td>
          <td>{{ dados.long }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mensagem de erro -->
    <div *ngIf="erroVin" class="alert alert-danger w-50 mx-auto">
      {{ erroVin }}
    </div>
  </div>
</div>
</footer>

</body>
